#Application {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 3s ease;
}

#quote-box {
  padding: 40px;
  border-radius: 3px;
  max-width: 700px;
  display: block;
}

#text {
  padding: 60px 110px;
  color: #fff;
  text-align: center;
  transition: color 3s ease;
  font-size: 30px;
}

.line {
  height: 1.5px;
  transition: background-color 3s ease;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}

#author {
  margin-left: 60px;
  font-size: 20px;
  font-weight: 500;
  transition: color 3s ease;
}

#icons {
  display: flex;
  gap: 40px;
}

#icons img {
  cursor: pointer;
  height: 36px;
  padding: 7px;
  border-radius: 3px;
  transition: background-color 3s ease;
}

button {
  color: #fff;
  font-size: 18px;
  transition: background-color 3s ease;
  border: 0;
  border-radius: 3px;
  padding: 12px;
  width: 100;
  cursor: pointer;
}
